
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

.venv/
venv/
.env/


/data/
les_data_for_scm_uq/data/
*.mat


*.npz
*.png
*.pdf
*.svg
/plots/


.DS_Store

run_joint_*
joint* 
ABL_SBL_bodi.py
src/sbl_odil/bodil_joint_*
#matlab junk & data dir
*.m
les_data_for_scm_uq/*
 les_data_for_scm_uq
